//attempting BEM naming conventions?? 
$--blue: #4a90e2;
$--grey-dark: #4a4a4a;
$--grey-light: #d8d8d8;
$--yellow: #f8e71c;
$--red: #ce1126;
$--teal: #50e3c2;
$--orange: #f5a623;
$--purple: #bd10e0;
$--violet: #9013fe;
$--green-dark: #417505;
$--green-light: #7ed321;
