//Sizing ref: 
// xsmall = 50px
// small = 100px
// medium = 200px
// large = 300px
// xlarge = 400px

$--width: 1000px;
$--height: 800px;

$--xsmall: 50px;
$--small: 100px;
$--medium: 200px;
$--large: 300px;
$--xlarge: 400px;

$--top: 75px;

$row--medium: 200px;
$row--small: 100px;
$row--xsmall: 50px;